@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');

$background:#000;
$background-heder: rgba(15,15,15,0.99);
$Text-color: #ffffff;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  margin: auto;
  background-color: $background;
}

header {
  display: flex;
  text-align: center;
  position: sticky;
  justify-content:space-between;
  background-color: $background-heder;
  box-shadow: 0 1px 5px rgb(0 0 0 / 40%);
  border-bottom: 2px solid $background;
  opacity: 1;
  padding: 0 10px;
  color: $Text-color;
  align-items: center;
  z-index: 100;

  .logo {
    background: rgba(255,255,255,0.05);
    padding: 15px;
  }
  .navbar {
    display: flex;
    gap:20px; 
    position: relative; 
    li {
      list-style: none;
      padding: 0 3px;
      position: relative;

      &:hover{
        color: #e50914;
      
        .sub--menu, .sub--menu_column {
          display: flex;
          flex-direction: column;
          text-align: justify;
          color: $Text-color;
          background: rgba(0,0,0,0.98);
          position: absolute; 
          top: 55px;
          left: 0;
          padding: 10px 2px;
          transition: 2s ease;
        }
      }
      .fa-caret-down {
        font-size: 10px;
        padding: 3px;
      }
      
      .sign {
        background-color: #e50914;
        color: #fff;
        border-radius: 3px;
        font-size: 12px;
        padding: 0 5px;
      }

      .sub--menu {
        display: none;
        width: 250px;
        li {
          padding: 10px;
            &::before {
              content: "\f0da";
              padding: 0 5px;
              margin-left: 5px;
              font: {
                family: "Font Awesome 5 Free";
                size: 15px;
                weight: 900;
              }
            }
          }
        } 
      
      .sub--menu_column {
        height: 300px;
        width: 400px;
        display: none;
        z-index: 100;
        flex: {
          direction: column;
          wrap: wrap;
        }
      }
    }
  }

  .search {
    background: rgba(255,255,255,0.05);
    padding: 8px;
    border-radius: 5px;
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;  

    input {
      border:0; 
      background: rgba(255,255,255,0.0);
      color: $Text-color;
      font-size: 15px;
      padding: 5px 10px ;
    }

    .fa-magnifying-glass {
      padding: 0 10px;
      font-size: 15px;
    }
  }  
}




.sub--menu:hover {
color: #e50914;
}




/*  ***** */



/* premier*/
.premiere {
  display: flex;
  gap:20px;
  justify-content: center;
  padding: 10px 0;
  text-align:justify;
  vertical-align: bottom;
  z-index: 0;

  .card {
    border: 1px solid black;
    width: 32%;
    height: 220px;
    color: $Text-color; 
    position: relative;
    z-index: 0;

    .description {
      text-align: justify;
      padding: 15px;
      position: absolute;
      bottom: 10px;

      .description__title {
        font: {
          weight: 500;
          size: 15px;
        }
      }
    }
  }
  .film--one {
    background: url("https://image.tmdb.org/t/p/w500/gUNRlH66yNDH3NQblYMIwgZXJ2u.jpg?x25295");
  }
  
  .film--two {
    background: url("https://image.tmdb.org/t/p/w500/wdjdHBDwmynWUrJcNzS24uegvK5.jpg?x25295");
  }
  
  .film--three {
    background: url("https://image.tmdb.org/t/p/w500/gG9fTyDL03fiKnOpf2tr01sncnt.jpg?x25295");
  }
}
